---
title: Europe as a tree
sub-title: If Europe was a tree, what would you do with it?
question: If Europe was a tree, I would cut it down completely.
order: 5
background: europinion-tree.png
---
<input class="tree-start" type="radio" name="tree-start" id="tree-start-grow" />
<input class="tree-start" type="radio" name="tree-start" id="tree-start-trim" />
<input class="tree-start" type="radio" name="tree-start" id="tree-start-fell" />
<div class="what-eu-future">
  <label for="tree-start-grow">{% include eu-opinion-grow.svg %}</label>
  <label for="tree-start-trim">{% include eu-opinion-trim.svg %}</label>
  <label for="tree-start-fell">{% include eu-opinion-fell.svg %}</label>
</div>