<section class="credits alloy-bg section" data-anchor="credits">
  <div class="container">
    <div class="inner centered">
      <h2>
        Europion <span>NOW</span>
      </h2>      
    <div class="column">

      <p>
        Winston Churchill's vision of the united states of Europe after the Second World War has become everyday reality. No one ever realizes anymore that peace between dissident states is actually something very special. The further development of the EU and its monetary union - where open borders exist and the EU jointly invests and develops  - is at an advanced stage. At times of economic prosperity, this machine has been able to grow enormous and almost unnoted. As of today, the European Union - that started over 70 years ago - became a fat and preposterous monster. Now that economic times are less stable, the UK appears to step out of the EU and a large group of refugees has entered Europe, the bureaucratic system of the Brussels administration is falling to pieces. Intervention is needed to preserve stability of the Eurozone and thus united EU economy.<br/><br/>
        Untamable as the EU might seem, it's about time to make future choices. Based on facts and figures. It's time to prune this old and large tree and decide how it should grow the next 70 years.
      </p>
    </div>
    <div class="column">
      <ul>
        <h3>MEET THE TEAM</h3>
        <li>RUBEN DAAS - <span>Concept, Data &amp; Design</span></li>
        <li>MITCHEL VAN EIJGEN  - <span>Development &amp; Design</span></li>
        <li>JAAP REDEKER - <span>Web development</span></li>
        <li>DAVID HAGER - <span>Concept &amp; Redactie</span></li>
        <li>WILSUN CHEUNG - <span>Design</span></li>
      </ul>
      <ul>
        <h3>TOOLS</h3>
        <li>d3.js</li>
        <li>FullPage.js</li>
        <li>Codeanywhere</li>
      </ul>
      <ul>
        <h3>SPECIAL THANKS TO</h3>
        <li>ERIC CILLESSEN - <span>Motivator</span></li>
      </ul>
    </div>
          </div>
    <a href="//studioalloy.nl" target="_blank" class="alloy-logo">

      <span>Alloy</span>
      <img src="inc/img/alloy-logo-bw.svg">
    </a>
  </div>
</section>