<section data-anchor="header" class="alloy-bg">
  <div class="container">
    
    <div class="slide" style="background-image: url(inc/img/intro-slide-1.png);">
      <div class="alloy-slide-content">
        <h2>Europinion <span>NOW</span></h2>
        <p>
          What is the current situation of the European Union and how is its status compared to all involved member states? And above all, how important is the unified force of the European Union as an collaborative economic community?<br/><br/>
          Europinion NOW is an online tool that offers an interactive layer of data on several EU economic topics, presented visually on this website. In an animated overview, visitor can search through actual data of EU countries and make comparisons on different levels; between countries, expenditures and revenues.<br/><br/>
          But what do these billions really tell us? How do they relate to each other and on different aspects of everyday life? Critical questions and a new vision for the future of Europe are desperatly needed.<br/><br/>
          What's your Europinion? Share it NOW!
        </p>
      </div>
    </div>
    
    <div class="slide" style="background-image: url(inc/img/intro-slide-1.png);">
      <div class="alloy-slide-content">
        <h2>Collaboration<br/>Instead of war</h2>
        <hr>
        <p>
          After the Second World War one thing was sure: No More War. The Coal and Steel industries among Western European countries began to unite, hence securing lasting peace in terms of economical and political stability. Although the 1950s are dominated by a cold war between east and west, the west is working on the reconstruction of its economical position by cross-border collaboration and pacts. As a result, the Treaty of Rome created the European Economic Community (EEC), or ‘Common Market’ in the year 1957.
        </p>
      </div>
    </div>
    
    <div class="slide" style="background-image: url(inc/img/intro-slide-2.png);">
      <div class="alloy-slide-content">
        <h2>Borderless growth<br/>In times of prosperity</h2>
        <hr>
        <p>
          With the collapse of communism across central and eastern Europe, Europeans become closer neighbours. It is a good period for the economy, helped by the fact that EU countries stop charging custom duties when they trade with each other. They also agree joint control over food production, so that everybody now has enough to eat and kids mandatory go to primary school.
        </p>
      </div>
    </div>
    
    <div class="slide" style="background-image: url(inc/img/intro-slide-3.png);">
      <div class="alloy-slide-content">
        <h2>Coming togheter<br/>In an economic union</h2>
        <hr>
        <p>
          The EU transfers huge sums to create jobs and infrastructure in poorer areas. The ‘Schengen’ treaty allows that people gradually can travel across borders without having their passports checked and millions of young people study in other countries with EU support. The Euro is the new official currency of the eurozone, which starts with 19 of the 28 member states of the European Union. Europe is economically and politically connected and offers a counterbalance towards the US and China.
        </p>
      </div>
    </div>
    
    <div class="slide" style="background-image: url(inc/img/intro-slide-4.png);">
      <div class="alloy-slide-content">
        <h2>Surviving<br/>When development halts</h2>
        <hr>
        <p>
          Earthshaking events, such as the financial crisis of 2008 and the recent refugee crisis, leads to work much more closely together and strengthen economic cooperation between EU countries. The new decade starts with a severe economic crisis, but also with the hope that investments in new green and climate-friendly technologies and closer European cooperation will bring lasting growth and welfare.
        </p>
      </div>
    </div>
    
    <div class="slide" style="background-image: url(inc/img/intro-slide-5.png);">
      <div class="alloy-slide-content">
        <h2>Discussing<br/>What the future should look like</h2>
        <hr>
        <p>
          As of today, the European Union - that started over 70 years ago - became a fat and preposterous monster. Now that economic times are less stable, the UK appears to step out of the EU and a large group of refugees has entered Europe, the bureaucratic system of the Brussels administration is falling to pieces. Intervention is needed to preserve stability of the Eurozone and thus united EU economy.<br/><br/>
          Untamable as the EU might seem, it's about time to make future choices. Based on facts and figures. It's time to prune this old and large tree and decide how it should grow the next 70 years. <br/></br/>
          What's your Europinion? Share it NOW!
        </p>
      </div>
    </div>
</section>