<input class="mobile-close" type="radio" name="mobile-close" id="mobile-close" />

<div class="alloy-mobile">
  <label class="mobile-close" for="mobile-close"><span>Close</span></label>
  <div class="alloy-mobile__inner">
  <h1>
    This site is best experienced on larger devices (tablet+).
  </h1>
  <h3>
     Send yourself a e-mail for later viewing!
  </h3>
  <a class="alloy-mail-button" href="mailto:?subject={{ site.title }}%20|%20{{ site.subtitle }}%20{{ site.baseurl }}&body={{ site.baseurl }}" target="_blank" title="Email">
    Send mail
  </a>
      <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Feuropinion-now.com&text=%23Europinion-NOW%20http%3A%2F%2Feuropinion-now.com" target="_blank" class="europinion-counts">
      <img src="inc/img/europinion-counts.svg" />
    </a>
      </div>
</div>
<div class="alloy-aboslute">
  <h1>The 28 member states of the European Union</h1>
  <div class="alloy-columns">
    <ul>
      <li>Austria</li>
      <li>Belgium</li>
      <li>Bulgaria</li>
      <li>Croatia</li>
      <li>Republic of Cyprus</li>
      <li>Czech Republic</li>
      <li>Denmark</li>
      <li>Estonia</li>
      <li>Finland</li>
    </ul>
    <ul>
      <li>France</li>
      <li>Germany</li>
      <li>Greece</li>
      <li>Hungary</li>
      <li>Ireland</li>
      <li>Italy</li>
      <li>Latvia</li>
      <li>Lithuania</li>
      <li>Luxembourg</li>
    </ul>
    <ul>
      <li>Malta</li>
      <li class="active">The Netherlands</li>
      <li>Poland</li>
      <li>Portugal</li>
      <li>Romania</li>
      <li>Slovakia</li>
      <li>Slovenia</li>
      <li>Spain</li>
      <li>Sweden</li>
    </ul>
  </div>
</div>
<img src="inc/img/beta.png" class="alloy-beta">