<div class="alloy-aboslute">
  <h1>28 member states in the European Union</h1>
  <div class="alloy-columns">
    <ul>
      <li>Austria</li>
      <li>Belgium</li>
      <li>Bulgaria</li>
      <li>Croatia</li>
      <li>Republic of Cyprus</li>
      <li>Czech Republic</li>
      <li>Denmark</li>
      <li>Estonia</li>
      <li>Finland</li>
    </ul>
    <ul>
      <li>France</li>
      <li>Germany</li>
      <li>Greece</li>
      <li>Hungary</li>
      <li>Ireland</li>
      <li>Italy</li>
      <li>Latvia</li>
      <li>Lithuania</li>
      <li>Luxembourg</li>
    </ul>
    <ul>
      <li>Malta</li>
      <li class="active">The Netherlands</li>
      <li>Poland</li>
      <li>Portugal</li>
      <li>Romania</li>
      <li>Slovakia</li>
      <li>Slovenia</li>
      <li>Spain</li>
      <li>Sweden</li>
    </ul>
  </div>
</div>
<img src="inc/img/beta.png" class="alloy-beta">